.rectangle {
  position: relative;
  width: 343px;
  min-height: 188px;
  border: 15px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Border, #ebebec);
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  margin-bottom: -8px;
  overflow: hidden;
}

input {
  margin-top: 50px;
  padding: 10px;
  width: 315px;
  height: 40px;
  border: 1px solid var(--Border, #ebebec);
  color: var(--accent);
  font-size: 16px;
  font-weight: 500;
}
.buttons {
  position: absolute;
  display: flex;
  justify-content: end;
  align-content: end;
  margin-top: 136px;
  margin-left: 102px;
}

.buttonCardOne,
.buttonCardSecond {
  display: flex;
  width: 110px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 22px;
  cursor: pointer;
  border: none;
}

.buttonCardOne {
  background: var(--White, #fff);
}

.buttonCardSecond {
  color: var(--white);
  background: var(--accent);
}

.buttonTrash {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.headingTitle {
  color: var(--Accent, #161616);
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 28px;
  left: 15px;
}

.errorParaph {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.inputError {
  border: 2px solid red;
}

.front,
.back {
  align-items: center;
  justify-content: center;
  display: flex;

  .text {
    padding: 20px;
    margin-top: 15px;
  }
}

.front {
  .answer {
    opacity: 0;
    display: none;
  }

  .heading {
    opacity: 1;
  }
}

.back {
  .answer {
    opacity: 1;
  }

  .heading {
    opacity: 0;
    display: none;
  }
}
